
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>
	<li>
		<a href="#/services">Serviços</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Criar
	</li>
</ul>


<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-suitcase font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Novo Serviço</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<form name="servf" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="form-group" 
								ng-class="{'has-error':servf.ato.$invalid && servf.ato.$dirty, 'has-success':servf.ato.$valid}">
								<label class="col-md-3 control-label">Ato</label>
								<div class="col-md-4">
									<input ng-model="service.ato" name="ato" type="text" class="form-control input-circle" placeholder="Normativo" required ng-minlength="5">
									<span class="help-block" ng-show="servf.ato.$invalid && servf.ato.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':servf.valor.$invalid && servf.valor.$dirty, 'has-success':servf.valor.$valid}">
								<label class="col-md-3 control-label">Valor</label>
								<div class="col-md-4">
									<input ng-model="service.valor" name="valor" type="text" class="form-control input-circle" placeholder="30,00" required ng-minlength="2" ui-number-mask="decimals">
									<span class="help-block" ng-show="servf.valor.$invalid && servf.valor.$dirty">Minímo 2 caracteres.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':servf.tipo.$invalid && servf.tipo.$dirty, 'has-success':servf.tipo.$valid}">
								<label class="col-md-3 control-label">Tipo</label>
								<div class="col-md-4">
									<input ng-model="service.tipo" name="tipo" type="text" class="form-control input-circle" placeholder="Teste" required ng-minlength="5">
									<span class="help-block" ng-show="servf.tipo.$invalid && servf.tipo.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(service)" ng-disabled="servf.$invalid">Cadastrar</button>
									<a class="btn btn-circle default" href="#/services.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		
	</div>
</div>

