
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>

	<li class="active" href="#">Cartórios</li><i class="fa fa-circle"></i>
	<li class="active">
		<a href="#/notaryuses.html">Serventias</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">{{title}}</li>
</ul>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-building font-green-sharp"></i>
					<span class="caption-subject bold uppercase">{{title}}</span>
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-container">
					<form name="notaryusef" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="form-group" 
								ng-class="{'has-error':notaryusef.nome.$invalid && notaryusef.nome.$dirty, 'has-success':notaryusef.nome.$valid}">
								<label class="col-md-3 control-label">Nome</label>
								
								<div class="col-md-4">
									<input ng-model="notaryuse.nome" name="nome" type="text" class="form-control input-circle" placeholder="" required ng-minlength="1" ng-maxlength="45">
									<span class="help-block" ng-show="notaryusef.nome.$invalid && notaryusef.nome.$dirty">Minímo 1 caractere / Máximo 45 caracteres</span>
								</div>
							</div>
						</div>

						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(notaryuse)" ng-disabled="notaryusef.$invalid">{{action}}</button>
									<a class="btn btn-circle default" href="#/notaryuses.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
