<div class="page-sidebar navbar-collapse collapse">

	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<li class="heading">
			<h3>GENERAL</h3>
		</li>
		<li class="start">
			<a href="#/dashboard.html">
			<i class="fa fa-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#/sales.html">
			<i class="fa fa-shopping-cart"></i>
			<span class="title">Vendas</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
			<i class="fa fa-building"></i>
			<span class="title">Cartórios</span>
			<span class="arrow"></span>
			</a>

			<ul class="sub-menu">
				<li>
					<a href="#/notaries.html">Cartórios</a>
				</li>
				<li>
					<a href="#/notaryuses.html">Serventias</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#/services.html">
			<i class="fa fa-suitcase"></i>
			<span class="title">Serviços</span>
			</a>
		</li>
		<li>
			<a href="#/users.html">
			<i class="fa fa-users"></i>
			<span class="title">Usuários</span>
			</a>
		</li>
		<li>
			<a href="#/townhalls.html">
			<i class="fa fa-institution"></i>
			<span class="title">Prefeituras</span>
			</a>
		</li>
	</ul>
</div>	