

<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-users font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Criar Usuário</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<form name="userf" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="form-group" 
								ng-class="{'has-error':userf.nome.$invalid && userf.nome.$dirty, 'has-success':userf.nome.$valid}">
								<label class="col-md-3 control-label">Nome Completo</label>
								<div class="col-md-4">
									<input ng-model="user.nome" name="nome" type="text" class="form-control input-circle" placeholder="João Silva" required ng-minlength="5">
									<span class="help-block" ng-show="userf.nome.$invalid && userf.nome.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
							<div class="form-group" ng-class="{'has-error':userf.email.$invalid && userf.email.$dirty, 'has-success':userf.email.$valid}">
								<label class="col-md-3 control-label">E-mail</label>
								<div class="col-md-4">
									<div class="input-group">
										<input ng-model="user.email" name="email" type="email" class="form-control input-circle" placeholder="joaosilva@hotmail.com" required>
										<span class="help-block" ng-show="userf.email.$invalid && userf.email.$dirty">Não é um e-mail válido.</span>
									</div>
								</div>
							</div>
							<div class="form-group" ng-class="{'has-error':userf.senha.$invalid && userf.senha.$dirty, 'has-success':userf.senha.$valid}">
								<label class="col-md-3 control-label">Senha</label>
								<div class="col-md-4">
									<div class="input-group">
										<input ng-model="user.senha" name="senha" type="password" class="form-control input-circle" placeholder="" required ng-minlength="6">
										<span class="help-block" ng-show="userf.senha.$invalid && userf.senha.$dirty">Minímo 6 caracteres.</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Nova Prefeitura</label>
								<div class="col-md-4">
									<select class="form-control" ng-model="townlist">
										<option ng-repeat="townhall in townhalls" ng-click="addItem(townhall)">{{townhall.nome}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Prefeituras</label>
								<div class="col-md-4">
									<select multiple class="form-control">
										<option ng-repeat="towncheck in townchecks" ng-click="removeItem(townhall)" >{{towncheck.nome}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(user, townchecks)" ng-disabled="userf.$invalid">Cadastrar</button>
									<a class="btn btn-circle default" href="#/users.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		
	</div>
</div>

