
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>
	<li>
		<a href="#/townhalls">Prefeituras</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Criar
	</li>
</ul>


<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-institution font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Criar Prefeitura</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<form name="townf" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="form-group" 
								ng-class="{'has-error':townf.cnpj.$invalid && townf.cnpj.$dirty, 'has-success':townf.cnpj.$valid}">
								<label class="col-md-3 control-label">CNPJ</label>
								<div class="col-md-4">
									<input ng-model="townhall.cnpj" name="cnpj" type="text" class="form-control input-circle" required ng-minlength="5" ui-mask="99.999.999/9999-99">
									<span class="help-block" ng-show="townf.cnpj.$invalid && townf.cnpj.$dirty">CNPJ inválido.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':townf.nome.$invalid && townf.nome.$dirty, 'has-success':townf.nome.$valid}">
								<label class="col-md-3 control-label">Nome</label>
								<div class="col-md-4">
									<input ng-model="townhall.nome" name="nome" type="text" class="form-control input-circle" placeholder="Prefeitura Municipal" required ng-minlength="5">
									<span class="help-block" ng-show="townf.nome.$invalid && townf.nome.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':townf.cidade.$invalid && townf.cidade.$dirty, 'has-success':townf.cidade.$valid}">
								<label class="col-md-3 control-label">Cidade</label>
								<div class="col-md-4">
									<input ng-model="townhall.cidade" name="cidade" type="text" class="form-control input-circle" placeholder="Guarulhos" required ng-minlength="5">
									<span class="help-block" ng-show="townf.cidade.$invalid && townf.cidade.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':townf.estado.$invalid && townf.estado.$dirty, 'has-success':townf.estado.$valid}">
								<label class="col-md-3 control-label">Estado</label>
								<div class="col-md-4">
									<input ng-model="townhall.uf" name="estado" type="text" class="form-control input-circle" placeholder="São Paulo" required ng-minlength="5">
									<span class="help-block" ng-show="townf.estado.$invalid && townf.estado.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(townhall, townf)" ng-disabled="townf.$invalid">Cadastrar</button>
									<a class="btn btn-circle default" href="#/townhalls.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		
	</div>
</div>

