
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>

	<li class="active" href="#">
		<a href="#/notaries.html">Cartórios</a><i class="fa fa-circle"></i>
	</li>

	<li class="active">{{title}}</li>
</ul>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-building font-green-sharp"></i>
					<span class="caption-subject bold uppercase">{{title}}</span>
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-container">
					<form name="notaryf" class="form-horizontal" novalidation>
						<div class="form-body">


							<div class="form-group" 
								ng-class="{'has-error':notaryf.nome.$invalid && notaryf.nome.$dirty, 'has-success':notaryf.nome.$valid}">
								<label class="col-md-3 control-label">Nome</label>
								
								<div class="col-md-4">
									<input ng-model="notary.nome" name="nome" type="text" class="form-control input-circle" placeholder="Cartório do João" required ng-minlength="1" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.nome.$invalid && notaryf.nome.$dirty">Minímo 1 caractere / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.documento.$invalid && notaryf.documento.$dirty, 'has-success':notaryf.documento.$valid}">
								<label class="col-md-3 control-label">Documento</label>
								
								<div class="col-md-4">
									<input ng-model="notary.documento" name="documento" type="text" class="form-control input-circle" placeholder="" required ng-minlength="1" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.documento.$invalid && notaryf.documento.$dirty">Minímo 1 caractere / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.endereco.$invalid && notaryf.endereco.$dirty, 'has-success':notaryf.endereco.$valid}">
								<label class="col-md-3 control-label">Endereco</label>
								
								<div class="col-md-4">
									<input ng-model="notary.endereco" name="endereco" type="text" class="form-control input-circle" placeholder="Rua das Pedras, 123 - Centro" required ng-minlength="5" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.endereco.$invalid && notaryf.endereco.$dirty">Minímo 5 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.cidade.$invalid && notaryf.cidade.$dirty, 'has-success':notaryf.cidade.$valid}">
								<label class="col-md-3 control-label">Cidade</label>
								
								<div class="col-md-4">
									<input ng-model="notary.cidade" name="cidade" type="text" class="form-control input-circle" placeholder="Ponta Grossa" required ng-minlength="5" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.cidade.$invalid && notaryf.cidade.$dirty">Minímo 5 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.uf.$invalid && notaryf.uf.$dirty, 'has-success':notaryf.uf.$valid}">
								<label class="col-md-3 control-label">Estado</label>
								
								<div class="col-md-4">
									<input ng-model="notary.uf" name="uf" type="text" class="form-control input-circle" placeholder="Paraná" required ng-minlength="6" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.uf.$invalid && notaryf.uf.$dirty">Minímo 6 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.tabeliao.$invalid && notaryf.tabeliao.$dirty, 'has-success':notaryf.tabeliao.$valid}">
								<label class="col-md-3 control-label">Tabelião</label>
								
								<div class="col-md-4">
									<input ng-model="notary.tabeliao" name="tabeliao" type="text" class="form-control input-circle" placeholder="" required ng-minlength="6" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.tabeliao.$invalid && notaryf.tabeliao.$dirty">Minímo 6 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.cep.$invalid && notaryf.cep.$dirty, 'has-success':notaryf.cep.$valid}">
								<label class="col-md-3 control-label">CEP</label>
								
								<div class="col-md-4">
									<input ng-model="notary.cep" name="cep" type="text" class="form-control input-circle" placeholder="999999-999" required ng-minlength="9" ng-maxlength="9">
									<span class="help-block" ng-show="notaryf.cep.$invalid && notaryf.cep.$dirty">Minímo 9 caracteres / Máximo 9 caracteres</span>
								</div>
							</div>


							<!-- USES -->
							<div class="form-group">
								<label class="col-md-3 control-label">Nova serventia</label>
								<div class="col-md-4">
									<select class="form-control">
										<option ng-repeat="notaryuse in notaryuses" ng-click="addNotaryUse(notaryuse)">{{notaryuse.nome}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Serventias</label>
								<div class="col-md-4">
									<select multiple class="form-control">
										<option ng-repeat="use in uses" ng-click="removeNotaryUse(use)">{{use.nome}}</option>
									</select>
								</div>
							</div>


							<!-- SERVICES -->
							<div class="form-group">
								<label class="col-md-3 control-label">Novo serviço</label>
								<div class="col-md-4">
									<select class="form-control">
										<option ng-repeat="notaryservice in notaryservices" ng-click="addNotaryService(notaryservice)">{{notaryservice.ato}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Serviços</label>
								<div class="col-md-4">
									<select multiple class="form-control">
										<option ng-repeat="service in services" ng-click="removeNotaryService(service)">{{service.ato}}</option>
									</select>
								</div>
							</div>

						</div>

						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(notary, uses, services)" ng-disabled="notaryf.$invalid">{{action}}</button>
									<a class="btn btn-circle default" href="#/notaries.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		
	</div>
</div>
