
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>
	<li>
		<a href="#">Vendas</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Nova Venda
	</li>
</ul>

<div class="portlet box blue fade-in-up" ng-show="items.length">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-shopping-cart"></i>Meu carrinho
		</div>
	</div>
	<div class="portlet-body">
		<table class="table">
			<thead>
				<tr>
					<td>Ato</td>
					<td>Valor Unitário</td>
					<td>Valor Total</td>
					<td>Quantidade</td>
					<td>Numero Pedido</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.ato}}</td>
					<td>{{item.valor | currency : 'R$ ' : 2}}</td>
					<td>{{item.total | currency : 'R$ ' : 2}}</td>
					<td><a class="fa fa-minus-square" ng-click="quant(item, '-')"></a> {{item.quantidade}} <a class="fa fa-plus-square" ng-click="quant(item, '+')"></a></td>
					<td><input type="text" class="form-control input-sm" ng-model="item.numero_pedido"></td>
					<td><a class="btn btn-danger btn-sm" ng-click="remove(item)"><span class="fa fa-times"></span></a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" ng-click="save(items)">Finalizar</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-shopping-cart font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Nova Venda</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">
									ID
								</th>
								<th width="15%">
									Ato
								</th>
								<th width="17%">
									Valor Unitário
								</th>
								<th width="10%">
									Tipo
								</th>
								<th width="10%">
									Ações
								</th>
							</tr>
							<tr role="row" class="filter" data-ng-repeat="service in services">
								<td>
									{{service.id_servico}}
								</td>
								<td>
									{{service.ato}}
								</td>
								<td>
									{{service.valor | currency : 'R$ ' : 2}}
								</td>
								<td>
									{{service.tipo}}
								</td>	
								<td>
									<div class="margin-bottom-5 text-center">
										<a class="btn btn-sm blue" data-toggle="modal" href="#addItem" ng-click="addItem(service)"><i class="fa fa-shopping-cart"></i></a>
									</div>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

					<div class="alert alert-info" ng-hide="services.length">
						<img src="./theme/admin/layout4/img/bluoading.gif" alt="Carregando..."> <strong>Carregando...</strong>
					</div>


				</div>
			</div>
		</div>
		
	</div>
</div>

